.anbefaling-tittel{
  text-align: center;
  margin-bottom: 1.5rem;
}

.anbefaling-item {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.anbefaling-ikon {
  margin: 0 2rem 0 0
}

.anbefaling-tekst-bolk{
  text-align: left;
}

.center-text {
  text-align: center;
}
