@nodeModulesPath: '../node_modules/';

@import "~nav-frontend-core/less/_variabler";
@import "~nav-frontend-typografi-style";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.wrapper {
  margin: 2rem 2rem;
  width: 720px;
}

.stillingInfo {
  display: flex;
  flex-direction: column;

  &__innhold {
    border-bottom: 1px solid @navLysGra;
    border-top: 1px solid @navLysGra;
    padding: 1rem;
    max-width: 40vh;
  }
}
