@nodeModulesPath: '../node_modules/';

@import "~nav-frontend-core/less/_variabler";
@import "~nav-frontend-typografi-style";
@import "~nav-frontend-spinner-style";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.wrapper {
  display: grid;
  grid-template-rows: 2fr 4fr 8fr;
  grid-auto-rows: minmax(100px, auto);
}

.banner {
  background-color: @navBlaLighten80;
  border-bottom: 0.3rem solid @navBlaLighten40;
  display: flex;
  justify-content: center;
  align-content: center;

  &__innhold {
    margin-top: 2.5rem;
  }

}


.stillingContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  grid-row-gap: 0.3rem;
  margin-top: 1rem;

  &__innhold {
    display: flex;
    justify-content: center;
    align-content: center;

    &__linje {
      border-bottom: 1px solid @navLysGra;
      padding: 0.5rem;
      min-width: 600px;
    }

  }

  @media (max-width: @screen-sm-max) {
    margin-left: 1rem;
  }

}
